body, html{
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor-partida{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 50px;
}

.contenedor-cartas {
    width: 660px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
  }

.carta {
    height: 150px;
    background-color: #aee2ff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
    aspect-ratio: 1/1;
    overflow: hidden;
    transform-origin: center; 
    position: relative;
}

.carta:hover {
    transform: scale(1.1);
    background-color: #86d2ff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.carta:active {
  transform: scale(0.9);
  background-color: #86d2ff;
  transition: transform 0.2s ease;
}

.carta img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

#iniciar-partida{
  cursor: pointer;
  background-color: #b899ff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.intentos{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -20px;
}

#numero-intentos{
  font-size: 20px;
  font-weight: bold;
}